body {
    background-color: #232323;
    font-family: 'Quicksand', sans-serif;
}

.square{
    width: 30%;
    background-color: red;
    padding-top: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: all  0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

#container{
    max-width: 490px;
    margin:20px auto;
}

h1{
    color:white;
    background-color: rgb(39, 192, 202);
    text-align: center;
    font-weight: normal;
    margin:0;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

#message{
    display: inline-block;
    width: 20%;
    text-transform: uppercase;
    font-weight: 700;
    color:  rgb(39, 192, 202);
    letter-spacing: 1px;
    font-size: inherit;
}

#stripe{
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected{
    background: black;
}

#selectedColor{
    font-size: 120%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color:  rgb(39, 192, 202);
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    border-radius: 20px;
    outline: white;
}

button:hover{
    background-color:rgb(39, 192, 202);
    color: white;
}
button:focus {outline:0;}